In [1]:
import numpy as np
import pandas as pd
import scipy
from statsmodels.stats.weightstats import *

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

Уровень кальция в крови здоровых молодых женщин равен в среднем 9.5 милиграммам на децилитр и имеет характерное стандартное отклонение 0.4 мг/дл. В сельской больнице Гватемалы для 160 здоровых беременных женщин при первом обращении для ведения беременности был измерен уровень кальция; среднее значение составило 9.57 мг/дл. Можно ли утверждать, что средний уровень кальция в этой популяции отличается от 9.5?

Посчитайте достигаемый уровень значимости. Поскольку известны только среднее и дисперсия, а не сама выборка, нельзя использовать стандартные функции критериев — нужно реализовать формулу достигаемого уровня значимости самостоятельно.

Округлите ответ до четырёх знаков после десятичной точки.

In [ ]:
mean=9.5
stan

In [20]:
from sklearn.cross_validation import train_test_split

In [10]:
data = pd.read_csv('diamonds.txt','\t')
data.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

Отделите 25% случайных наблюдений в тестовую выборку с помощью функции sklearn.cross_validation.train_test_split (зафиксируйте random state = 1). На обучающей выборке настройте две регрессионные модели:

линейную регрессию с помощью LinearRegression без параметров
случайный лес с помощью RandomForestRegressor с random_state=1.

Какая из моделей лучше предсказывает цену бриллиантов? Сделайте предсказания на тестовой выборке, посчитайте модули отклонений предсказаний от истинных цен. Проверьте гипотезу об одинаковом среднем качестве предсказаний, вычислите достигаемый уровень значимости. Отвергается ли гипотеза об одинаковом качестве моделей против двусторонней альтернативы на уровне значимости α=0.05?

In [24]:
from sklearn.cross_validation import train_test_split
a_train, a_test, b_train, b_test=train_test_split(data,data.price,test_size=0.25, random_state = 1)

In [26]:
a_train.head()

       carat  depth  table  price     x     y     z
41944   0.35   62.4   58.0    504  4.47  4.54  2.81
21479   1.52   62.9   59.0   9576  7.31  7.26  4.58
4451    0.90   61.9   56.0   3619  6.18  6.23  3.84
24948   1.70   62.1   57.0  13417  7.61  7.55  4.71
7281    1.00   61.0   62.0   4200  6.41  6.34  3.89

In [27]:
a_test.head()

       carat  depth  table  price     x     y     z
2714    0.33   61.7   55.0    564  4.43  4.46  2.74
14653   1.20   62.1   57.0   5914  6.78  6.71  4.19
52760   0.62   61.0   57.0   2562  5.51  5.54  3.37
48658   0.34   63.1   56.0    537  4.41  4.46  2.80
14812   1.20   62.5   55.0   5964  6.77  6.84  4.25

In [28]:
b_train.head()

41944      504
21479     9576
4451      3619
24948    13417
7281      4200
Name: price, dtype: int64