In [1]:
import statsmodels
import numpy as np
import pandas as pd
import statsmodels
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.graphics.regressionplots import plot_leverage_resid2
import matplotlib.pyplot as plt

<img src='AB1.1.jpg'>

<img src='AB1.2.jpg'>

In [2]:
data=pd.read_csv('ab_browser_test.csv')

In [3]:
data.describe()

              userID       n_clicks      n_queries  n_nonclk_queries
count  566134.000000  566134.000000  566134.000000     566134.000000
mean   301377.214027      11.431658      10.720524          4.703987
std    175526.333101      20.251494      16.262827          8.109958
min         1.000000       0.000000       1.000000          0.000000
25%    148627.250000       1.000000       2.000000          1.000000
50%    299362.500000       4.000000       5.000000          2.000000
75%    455698.750000      13.000000      13.000000          6.000000
max    603137.000000     863.000000     665.000000        581.000000

In [4]:
data.head()

   userID     browser     slot  n_clicks  n_queries  n_nonclk_queries
0       1  Browser #2      exp        23         32                19
1       3  Browser #4      exp         3          4                 2
2       5  Browser #4      exp        29         35                16
3       6  Browser #4  control        12          6                 0
4       7  Browser #4      exp        54         68                30

In [5]:
data.browser.value_counts()

Browser #4     156833
Browser #22    142905
Browser #2     110737
Browser #14     89123
Browser #20     33929
Browser #17     32607
Name: browser, dtype: int64

In [6]:
data[data.slot=='control'].n_clicks.sum()/3

1070009L

In [7]:
data.n_clicks[data.slot=='exp'].sum()/float(data[data.slot=='control'].n_clicks.sum())

1.0161356898244158

In [8]:
float(data[data.slot=='control'].n_clicks.sum())/data.n_clicks[data.slot=='exp'].sum()

0.9841205362767999

# 2

<img src='AB2.1.jpg'>

In [9]:
#функции бутстрепа
def get_bootstrap_samples(data, n_samples):
    indices = np.random.randint(0, len(data), (n_samples, len(data)))
    samples = data[indices]
    return samples
def stat_intervals(stat, alpha):
    boundaries = np.percentile(stat, [100 * alpha / 2., 100 * (1 - alpha / 2.)])
    return boundaries

In [10]:
exp = data[data.slot == 'exp'].n_clicks.values
control = data[data.slot == 'control'].n_clicks.values

In [11]:
#интервальные оценки медианы
exp_median_scores=get_bootstrap_samples(exp,1000)
control_median_scores=get_bootstrap_samples(control,1000)

In [12]:
print "95% confidence interval for the exp median clicks Num:",  stat_intervals(exp_median_scores, 0.05)
print "95% confidence interval for the control median clicks Num:",  stat_intervals(control_median_scores, 0.05)

95% confidence interval for the exp median clicks Num: [  0.  65.]
95% confidence interval for the control median clicks Num: [  0.  64.]

exp [0. 65.]
control [0. 64.]

In [17]:
np.random.seed(0)

exp_mean_scores = map(np.mean, get_bootstrap_samples(exp, 1000))
control_mean_scores = map(np.mean, get_bootstrap_samples(control, 1000))


print "95% confidence interval for the exp mean repair time:",  stat_intervals(exp_mean_scores, 0.05)
print "95% confidence interval for the control mean repair time:",  stat_intervals(control_mean_scores, 0.05)

95% confidence interval for the exp mean repair time: [ 11.5077866   11.65840312]
95% confidence interval for the control mean repair time: [ 11.20988064  11.35562609]

<img src='AB3.1.jpg'>

# 4

<img src="AB4.1.jpg">

<img src="AB4.2.jpg">

<img src="AB4.3.jpg">

<img src="AB4.4.jpg">

# 5

<img src="AB5.1.jpg">

# 6

<img src="AB6.1.jpg">

# 7

<img src="AB7.1.jpg">