In [1]:
import numpy as np
from scipy import stats

По данным опроса, 75% работников ресторанов утверждают, что испытывают на работе существенный стресс, оказывающий негативное влияние на их личную жизнь. Крупная ресторанная сеть опрашивает 100 своих работников, чтобы выяснить, отличается ли уровень стресса работников в их ресторанах от среднего. 67 из 100 работников отметили высокий уровень стресса.

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [15]:
stats.binom_test(67,100,0.75)

0.082222588913866079

The Wage Tract — заповедник в округе Тома, Джорджия, США, деревья в котором не затронуты деятельностью человека со времён первых поселенцев. Для участка заповедника размером 200х200 м имеется информация о координатах сосен (sn — координата в направлении север-юг, we — в направлении запад-восток, обе от 0 до 200).

Проверим, можно ли пространственное распределение сосен считать равномерным, или они растут кластерами.

Загрузите данные, поделите участок на 5х5 одинаковых квадратов размера 40x40 м, посчитайте количество сосен в каждом квадрате (чтобы получить такой же результат, как у нас, используйте функцию scipy.stats.binned_statistic_2d).

Если сосны действительно растут равномерно, какое среднее ожидаемое количество сосен в каждом квадрате? В правильном ответе два знака после десятичной точки.

In [28]:
import pandas as pd
pines=pd.read_csv("pines.txt",sep="\t")

In [31]:
pines.std()

sn    56.523154
we    49.810725
dtype: float64

       sn    we
0   200.0   8.8
1   199.3  10.0
2   193.6  22.4
3   167.7  35.6
4   183.9  45.4
5   182.5  47.2
6   166.1  48.8
7   160.7  42.1
8   162.9  29.0
9   166.4  33.6
10  163.0  35.8
11  156.1  38.7
12  157.6  42.8
13  154.4  36.2
14  150.8  45.8

Чтобы сравнить распределение сосен с равномерным, посчитайте значение статистики хи-квадрат для полученных 5х5 квадратов. Округлите ответ до двух знаков после десятичной точки.

Насколько велико это значение? Если нулевая гипотеза справедлива, с какой вероятностью его можно было получить случайно?

Нулевое распределение статистики — хи-квадрат с 25−1=24 степенями свободы (поскольку у равномерного распределения, с которым мы сравниваем данные, нет ни одного оцениваемого по выборке параметра, число степеней свободы K−1, где K — количество интервалов).