In [69]:
from sklearn import cross_validation, datasets, linear_model, metrics

import numpy as np

Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [70]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

C:\Anaconda2\lib\site-packages\IPython\core\magics\pylab.py:161: UserWarning: pylab import has clobbered these variables: ['mean']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [71]:
import pandas as pd

In [72]:
data=pd.read_csv('water.txt',sep="\t")

In [73]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [74]:
meandata,stddata=data.mortality.mean(),data.mortality.std()
print meandata,stddata

1524.14754098 187.668753931

In [75]:
data.shape

(61, 4)

In [76]:
datasort=data.sort(columns='location')

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [77]:
data_south=datasort[35:]

In [78]:
data_south.shape

(26, 4)

In [79]:
n=26

In [80]:
data_north=datasort[:35]

In [81]:
data_north.shape

(35, 4)

In [82]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [83]:
mortal_mean=data.mortality.mean()

In [84]:
mortal_mean_std = data.mortality.std(ddof=1)/sqrt(len(data.mortality))

In [85]:
print " mortal mean auc 95%% confidence interval", _tconfint_generic(mortal_mean, mortal_mean_std,
                                                                       len(data.mortality) - 1,
                                                                       0.05, 'two-sided')

 mortal mean auc 95%% confidence interval (1476.0833413552848, 1572.2117406119285)

In [86]:
south_mean=data_south.mortality.mean()
south_mean_std = data_south.mortality.std(ddof=1)/sqrt(len(data_south.mortality))

In [87]:
print "mortal south mean auc 95%% confidence interval", _tconfint_generic(south_mean, south_mean_std,
                                                                       len(data_south.mortality) - 1,
                                                                       0.05, 'two-sided')

mortal south mean auc 95%% confidence interval (1320.1517462936238, 1433.463638321761)

In [88]:
north_mean=data_north.mortality.mean()
north_mean_std = data_north.mortality.std(ddof=1)/sqrt(len(data_north.mortality))

In [89]:
print "mortal north mean auc 95%% confidence interval", _tconfint_generic(north_mean, north_mean_std,
                                                                       len(data_north.mortality) - 1,
                                                                       0.05, 'two-sided')

mortal north mean auc 95%% confidence interval (1586.5605251961385, 1680.6394748038613)


При σ=1 какой нужен объём выборки, чтобы на уровне доверия 95% оценить среднее с точностью ±0.1?